<div class="comment">

    <h2 class="comment__title">Leave comment:</h2>

    <div class="comment__row">
        <div class="comm-avatar">
            <div class="comm-avatar__user">
                <img src="img/user.jpg" alt="User name" >
            </div>
        </div>
        <div class="comm-data">
            <form action="" class="comment-form">
                <div class="controls">
                    <span class="controls__item controls__item_forward">User name</span>
                    <span class="controls__item controls__item_close">Close</span>
                </div>

                <textarea class="form-field" placeholder="Your message"></textarea>
                <div class="form-send controls__item controls__item_add" data-action="add">Send</div>
            </form>
        </div>
    </div>

</div>

<div class="load-more">
    <div class="load-more__frame"><div class="more-btn">Load more comments</div></div>
</div>

<!--position of controls-->
<div class="controls controls_own-comment">
    <span class="controls__item controls__item_edit" data-action="edit">Edit</span>
    <span class="controls__item controls__item_delete" data-action="delete">Delete</span>
    <span class="controls__item controls__item_reply" data-action="reply">Reply</span>
</div>



