//colors
$black:           #000;
$white:           #fff;
$gray:            #f2f2f2;
$grayLight:       #b6b6b6;
$grayForms:       #ebedee;
$contentColor:    #454545;
$yellow:          #f1c40f;

//fonts
$StagBook:        'Stag Book', serif;
$StagBookItalic:  'Stag BookItalic', serif;
$StagMedium:      'Stag Medium', serif;
$StagSemibold:    'Stag Semibold', serif;
$FontAwesome:     'FontAwesome';
